<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
    <title>Photo Store</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--<link href="https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap" rel="stylesheet">-->
    <link rel="stylesheet" href="app.css" type="text/css">
  </head>
  <body>
   <header>
    <div class="topwrap">
          <div id="logo">
              <img alt="logo" src='/colorlogo.png'>
          </div>
          <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products" >Images</a></li>
                <li><a href="/addproduct"  >Upload images</a></li>
                <li><a href="event">Events</a></li>
                <li><a href="/contactform">Contact</a></li>
            </ul>
          </nav>
          <div class="register">
              <a href="/login">Login/Register</a>
          </div>
    </div>
  </header>