<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
    <title>Photo Store</title>
    <link rel="stylesheet" href="app.css" type="text/css">
  </head>
  <body>
   <header>
    <div class="topwrap">
          <div id="logo">
              <img alt="logo" src='/colorlogo.png'>
          </div>
          <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#" >Images</a></li>
                <li><a href="#"  >Add Images</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
          </nav>
          <div class="register">
              <a href="#">Login/Register</a>
          </div>
    </div>
  </header>