<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <meta name="keywords" content="photostore,photo selling and photo upload">
    <title>Photo Store</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/dbd56f2afc.js"></script>
    <link rel="stylesheet" type="text/css" href="../app.css">
  </head>
  <body>
   <header>
    <div class="topwrap">
          <div id="logo">
              <a href="/products"><img alt="logo" src='/colorlogo.png'></a>
          </div>
          <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products" >Images</a></li>
                <!--<li><a href="/alluploadproducts">UI</a></li>-->
                <!--<li><a href="/cart">Cart</a></li>-->
                <!--<li><a href="/event"></a></li>-->
                <li><a href="/event">Event</a></li>
                <!--<li><a href="/contacts">Contacts</a></li>-->
                <!--<li><a href="/upload">Upload Image</a></li>-->
                <li><a href="/contactform">Contact</a></li>
                <!--<li><a href="/profile">Profile</a></li>-->
                <!--<li><a href="/editprofile">EditProfile</a></li>-->
                
            </ul>
          </nav>
          <div class="register">
               <!--<a href="/cart"> -->
               <!--<i id="shoppingbasket" class="fas fa-shopping-cart"> -->
              
              <%// }); %>
              
              <%// if (typeof cart !== "undefined") { %>
              <%//= cart.length %>
            
              <%// } else { %>
              <!--0-->
              <%// } %>
              <!--</i>-->
              <!--</a>-->
              
              
              <%// if(true){ %>
                 <a><i id="myButton" onclick="document.getElementById('id01').style.display='block'" class="fas fa-user-plus"></i></a>

                <%// } else{ %>  
               <!--<a href="/login">Login/Register</a>-->
                <%// } %>
      
              
              <div id="id01" class="modal">
                  
                  <div class="modal-content animate">
                    <div class="imgcontainer">
                      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                    </div>
    
                   <div class="contentpart"> 
  
                     <h2>Dashboard</h2>
                     
                     <div class ="dropdown-content"></div>
                        <h4><a href="/profile">Profile</a></h4>
                        <h4><a href="/upload" >Upload Image</a></h4>
                        <h4><a href="/addproduct">Download</a></h4>
                        <h4><a href="/checkout">Checkout</a></h4>
                        <h4><a href="/logout">Logout</a></h4>
                        </div>
                   
                 </div>
                  </div>
                </div>

          
    </div>
  </header>
 
  
  
  <script>
    // Get the modal
    var modal = document.getElementById('id01');
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    
    
    
    
    // check cart item
    var items = 5;
    $(document).ready(function(){
      if (items != 0) {
        $("#shoppingbasket").append("<div class=\"basketitems\">" + items + "</div>")
      }
    });
</script>