*{
  box-sizing: border-box;
}

body{
  font-family: 'Source Sans Pro','arial', 'Helvetica', sans-serif;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}

.topwrap{
  width: 94%;
  margin: auto;
  overflow: hidden;

}
header{
  background-color: #3c5289;
  color:#fff;
  border-bottom: #f26c4f 6px solid;
  text-align: center;
  line-height: 2.5em;
}

 .topwrap {
    display: flex;
    align-items: center;
  }
  #logo{
    flex: 1;
    text-align: left;


  }
  nav{
    flex: 3;

  }
  .register{
    flex: 1;
    text-align: right;

  }

 
  
.topwrap #logo{
  display: block;
  cursor: pointer; 
  margin: auto;
  padding-top: .5em;

}
.topwrap #logo img{
  width: 66%;
}

/*.topwrap #logo h1{*/
/*  font-family: 'Patua One', cursive;*/
/*  font-size: 1.6rem;*/
/*}*/

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin: .2em;

}
nav a{
  color: #fff;
  text-decoration: none;
  text-transform:uppercase;
  font-size: 1rem;
  padding: .3em;
}

header a:hover{
  color: #f26c4f;
}
.register {
  font-size: 1.2rem;


}
.register a{
  color: #fff;
  text-decoration: none;
}
.register i{
  padding: .3em;
}
.register i:hover{
  color: #f26c4f;
  cursor: pointer;
}

/*content section*/
.container{
  width: 96%;
  margin: auto;
  overflow: hidden;
  text-align: left;
}
#backimage{
  /*background-color: #555;*/
  background-image: url("/photogsp.jpg");
  background-position:center top;
  background-size: cover;
  text-align: center;
  min-height:650px;
  color: #fff;
  -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
  filter: grayscale(40%);
  
}


#backimage h1{
    font-family: 'Beth Ellen', cursive;
    padding-top: 1.2em;
    min-height: 60px;
    color: #f26c4f;
    font-size: 2.5rem;
    line-height: 1.5em;
    margin: 0 !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 .3em;
}
h2{
    padding: .3 em;
   
}
/* create 3 equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}


.column img:hover{
    opacity: .5;
    cursor: pointer;
  /*border: 3px solid #969181;*/

}



/*footer area*/
.footer{
  padding: .1em;
  background-color: #969181;
  color: #ffffff;
  /*margin-top: 32px;*/
  text-align: center;
}

/* Bordered form */
form {
  /*border: 3px solid #f1f1f1;*/
  width: 100%;
  text-align: center;
}
form .container{
  width: 30%;
}

/* Full-width inputs */
input[type=text], input[type=password], textarea {
  width: 100%;
  padding: 15px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: grey;
}

/* Set a style for all buttons */
button {
  background-color: #f26c4f;
  color: white;
  font-size: 1.1rem;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

button a {
  color: #ffffff;
  text-decoration: none;
}
/*.cancelbtn {*/
/*  width: 100%;*/
/*  padding: 10px 18px;*/
/*  background-color: #f26c4f;*/
/*}*/





/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 2px;
}
h3.mid{
  text-align: center;
  text-decoration: underline;
}

h4 a{
  color: grey;
  text-decoration: none;
}
h4 a:hover{
  color: black;
  text-decoration: none;
}
.contentpart{
  width: 17%;
  height: 500px;
  background-color: pink;
}
.container h2{
  text-align: center;
}
.container h4{
  margin: 2rem;
}
.wrap{
  margin-Left: auto;
  margin-right: auto;
  width: 70%;
  height: 480px;
}
p button{
  width: 4rem;
  padding: 6px;
  border-radius: 4px;
  
}

.title h2{
  
  text-align: center;
}
.titleinfo{
  padding-left: 2rem;
  text-align: left;
  border-bottom: 3px solid grey;
  width: 100%;
  
}
.titleinfo span {
  font-size: 1.2rem;
  font-weight: bold;
}

.containercontent{
  width: 86%;
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  display: grid;
  align-content: center;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
 /* background-color: #2196F3;  Comment this out later to remove the background color when not needed */
  padding: 10px;
}


.item {
  /*background-color: rgba(202, 131, 34, 0.8);*/
  background-color: #FAF0E6;
  
  text-align: center;
  padding: .3em 0;
 
}


.itemtitle {
   display: block;
    color: #374760;
    text-align: center;
    padding: .3em 1em;
    text-decoration: none;
    font-size: 1.5rem;
    
}


.itemp {
   display: block;
    color: #374760;
    text-align: center;
    padding: .1em .6em;
    text-decoration: none;
    font-size: 1.2rem;
    
}



/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
.topwrap #logo img{
    width: 66%;
  }
  
 