<% include ../partials/header %>
  
  <div class="contentpart"> 
     
     
     <div class="container">
  
     <h2>Dashboard</h2>
     <h3>Hi <%= name %></h3>
     <div class ="dropdown-content"></div>
        <h4><a href="/profile">Profile</a></h4>
        <h4><a href="/upload" >Upload Image</a></h4>
        <h4><a href="/addproduct">Download Image</a></h4>
        <h4><a href="/payment">Checkout</a></h4>
        <h4><a href="/logout">Logout</a></h4>
        </div>
    </div>
 </div>

<% include ../partials/footer %>