 <% include ../partials/header %>
  
  <div class="contentpart"> 
     
     
     <div class="container">
  
     <h2>Dashboard</h2>
        <h4><a href="/profile">Profile</a></h4>
        <h4><a href="/products" >Upload Image</a></h4>
        <h4><a href="/addproduct"  >Download Image</a></h4>
        <h4><a href="event">Checkout</a></h4>
        <h4><a href="/products">Logout</a></h4>
    </div>
 </div>

<% include ../partials/footer %>