<% include ../partials/header %>

<div class="title">
    <h2>Edit Contact Page</h2>
  </div>
       <% res.forEach(function(indOne) {%>  
         <form accept-charset="UTF-8" style="display: inline-block; width: 90%;" action="/editcontact/<%= indOne.id %>" method="post">    
                <div class="formgroup">
                  <label for="name">Name</label>
                    <input name="name" type="text" value="<%= indOne.name %>" />
                     
                  <label for="comment">Message</label>
                    <input name="comment" type="text" value="<%= indOne.comment %>" />
                  
                   <label for="email">Email</label> 
                    <input name="email" type="text" value="<%= indOne.email %>" />
                    
                       <button type="submit">Update</button>
                  </div>
          </form>
          
           <% }); %>
   


<% include ../partials/footer %>
