<% include ../partials/header %>



 

  <div class="container">
       <h2>About Us</h2>
   <p>We are specialising in photos, and providing various nature / scene photos, we would like to inviate you to come to our next event for networking, knowledge sharing....
   <br>The location is 1234 o'connell st, dublin 1, Ireland.<br>
   Email: events@photostore.ie <br>
   Phone: +353 1234567</p>
   
   <h2>Events Information</h2>
   <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</P>
    
  </div>
    
 <% include ../partials/footer %>