<% include ../partials/header %>

  <div class="container">
            <div class="contentrow">
                <div class="im">
                  <img style="width: 420px; height: auto;" src="/coverimg.jpg" class="pimage" alt="contact us"></a>
                              	  
                </div>
                 <div class="info">
                     <h2>About Us</h2>
                     <p>We are specialising in photos, and providing various nature / scene photos</p>
                     <p>We are organizing many events and dedicated to bringing people together. Would like more details about events or exhibitions or other? please contact us below.
                     </p>
                    <a href="/contactform" class="button">Contact Us</a></div>
               </div>
           </div>
           <div class="eventcontent">
           <h2 class="htitle">Events Information</h2>
           
            <p>we would like to inviate you to come to our next event for networking, knowledge sharing....</p>
           <address><b>Address</b> 1234 o'connell st, dublin 1, Ireland.
                    || <b>Email:</b>  events@photostore.ie
                     || <b>Phone:</b> +353 1234567</address>
                     <br>
          </div>
   
   
  </div>
  
  
 
 <% include ../partials/footer %>