<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
    <title>Photo Store</title>
    <link rel="stylesheet" href="app.css" type="text/css">
  </head>
  <body>
    <div class="header">
      <div class="imhold"><img alt="lo" id="poster" class="logiIm" src='/logo.png'></div>
        <div class="navhold">
        <div class="topnav">
        <a href="/">Home</a>
        <a href="#" >Products</a>
        <a href="#"  >Add Product</a>
        <a href="#">Events</a>
  </div>
</div>
</div>


<div class="row">
            <div class="holder">
    
                  <div class="large">
                  <h1>Running</h1>
                  <h2>Accessories</h2>
            </div>
        
    <div class="normal">
        <h1>Swimming</h1>
        <h2>Accessories</h2>
        
    </div>
              
    <div class="normal2">
        <h1>Cycling</h1>
        <h2>Accessories</h2>
        
    </div>
    
            </div>

    </div>


<div class="footer">
  <p>Liams Node.js Application</p>
<p>Images from Pixabay.com</p>
</div>


    </body>
</html>
