<% include ../partials/header %>


        <section id="backimage">
          <h1>Welcome to Photo Store</h1>
          <h2>Collect or sell your photos here</h2>
         </section>
        
    
 <% include ../partials/footer %>