<% include ../partials/header %>

    <div class="container">
                <h2>Photo Gallery</h2>
            
                <div class="row">
                  
                    <div class="column">
                      <img src="/sunrisesh.jpg" alt="Sun Rise">
                      <img src="/travelsh.jpg" alt="Travel">
                      
                   </div>
                   <div class="column">
                      <img src="/flowersh.jpg"  alt="Flowers">
                      <img src="/treesh.jpg" alt="Trees">
                      <img src="/housep.jpg" alt="House scene">
                      
                   </div>
                  <div class="column">
                    <img src="/scenesh.jpg" alt="Scenes">
                    <img src="/desortsh.jpg" alt="Desort">
            
                  </div>
                   <div class="column">
                      <img src="/mountainsp.jpg" alt="Mountains">
                      <img src="/snowp.jpg" alt="snow">
                      
                   </div>
                  
                </div>
        </div>
    
 <% include ../partials/footer %>