<% include ../partials/header %>

   
      
  <div class="container">
      <div class="contentrow">
          <div class="im">
           <P>This is test</P>
          </div>
        <div class="info">
             <P>This is test</P> 
             
             
             <a href="/login" class="button">Login to proceed</a> 
        </div>
        
        
        
        </div>
        
   


 
  
    
    
    
     </div>
   
 <% include ../partials/footer %>