<% include ../partials/header %>

 <div class="title">
    <h2>Reset Password</h2>
   
 </div>
 <form action="/reset" method="post">
   <div class="formgroup">
         <label for="password"><b>Password</b></label>
         <input type="password" placeholder="New Password" name="password" required>
         <label for="confirm"><b>Password</b></label>
         <input type="password" placeholder="Confirm Password" name="confirm" required>
         <button type="submit">Update  Password</button>
     </div>
     <
</form>
        
    
 <% include ../partials/footer %>