<% include ../partials/header %>

    <div class="container">
                <h2>Thank You</h2>
            
                <p>You can download your image now</p>
                <button>Download</button>
        </div>
    
 <% include ../partials/footer %>