<% include ../partials/header %>
   
       <div class="title">
              <h2>Upload Image</h2>
       </div>
  
        <form action="/upload"  id="uploadForm" ref="uploadForm" method="post" enctype="multipart/form-data">
            <%= typeof msg != 'undefined' ? msg : '' %>
             <div class="formgroup">
                    <label for="title"><b>Title</b></label> 
                    <input name="title" type="text" placeholder="Enter image title" />
                    <label for="price"><b>Price</b></label> 
                    <input name="price" type="text" placeholder="Enter price" />
                    <label for="size"><b>Size</b></label>
                    <input name="size" type="text" placeholder="Enter size" />
                    <label for="activity"><b>Description</b></label>
                    <input name="activity" type="text" placeholder="Enter activity" />
                    
                    
                         <label for="image_url"><b>Image</b></label>
                    <input name="image_url" type="text" placeholder="Enter image" />
                    
                    
                    <!--<input class="btn" type="file" name="sampleFile" />-->
                    <button>Upload Image</button>
              </div>
        </form>
        <br>
    <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img">
<% include ../partials/footer %>