<% include ../partials/header %>
   
       <div class="title">
              <h2>Upload Image</h2>
               <p><%= typeof msg != 'undefined' ? msg : '' %></p>
       </div>
        <div class="container">
  
          <form action="/upload" method="POST" enctype="multipart/form-data">
            
            <div class="file-field input-field">
            
                <div class="formgroup">
                    <label for="title"><b>Title</b></label> 
                    <input name="title" type="text" placeholder="Enter image title" />
                    <label for="price"><b>Price</b></label> 
                    <input name="price" type="text" placeholder="Enter price" />
                    <label for="size"><b>Size</b></label>
                    <input name="size" type="text" placeholder="Enter size" />
                    <label for="activity"><b>Description</b></label>
                    <input name="activity" type="text" placeholder="Enter activity" />
                     <input class="btn" name="myImage" type="file">
                    
                    <button type="submit">Upload Image</button>
  
              </div>
          
            </div>
           
            
          </form>
          <div class="title">
             <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img">
          </div>
  </div>
    
<% include ../partials/footer %>